.title {
    color:blue;
    :global {
        body {
            background-color: antiquewhite;
            color: cornflowerblue;
        }
        #root {
            color: red;       
        }
    }
}